<h1>View Details</h1>
<h2>String Interpolation</h2>
<pre>
  Id:{{obj.id}}
  Name:{{obj.sname}}
  DOB:{{obj.dob}}
  Class:{{obj.std}}
  Age:{{obj.age}}
</pre>
<h2>Property binding</h2>
<h1 [innerText]="obj.sname"></h1>
<table>
    <tr>
        <td>ID</td>
        <td><input type="text" [value]='obj.sid'></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input type="text" [value]='obj.sname'></td>
    </tr>
    <tr>
        <td>Age</td>
        <td><input type="number" [value]='obj.age'></td>
    </tr>
    <tr>
        <td>Dob</td>
        <td><input type="text" [value]='obj.dob'></td>
    </tr>
    <tr>
        <td>Class</td>
        <td><input type="number" [value]='obj.std'></td>
    </tr>
</table>
<a [href]='url'>Google</a>