<p>demo22 works!</p>
<h1>Student List</h1>
<div id="Student">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" [(ngModel)]="sid"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" [(ngModel)]="sname"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" [(ngModel)]="age"></td>
        </tr>
        <tr>
            <td>Class</td>
          <td><select  [(ngModel)]="std">
              <option *ngFor="let item of stds">{{item}}</option>
            <!-- <option>I</option>
            <option>II</option>
            <option>III</option>
            <option>IV</option> -->
        </select>

          </td>
        </tr>
        <tr>
            <td>
                <button (click)="Add()">Add</button>
                <button (click)="setval()">{{val?'hide':'show'}}</button>
            </td>
        </tr>
       
    </table>

</div>
<table class="table table-responsive">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th *ngIf="val">class</th>
        <th  *ngIf="val">Age</th>
    </tr>
    <tr *ngFor="let item of list">
        <td>{{item.sid}}</td>
        <td>{{item.sname}}</td>
        <td *ngIf="val">{{item.std}}</td>
        <td *ngIf="val">{{item.age}}</td>
    </tr>
</table>
